ion-button[color="dark"]{
text-transform: initial;
}
.flex-center{
    background-color: lightseagreen;
}
/* Parte do titulo */
ion-card-title{
    // font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}